<div class="w-50 mx-auto px-5">
  <div class="card mt-5">
    <div class="card-header d-flex justify-content-between">
      <div class="flex">
        <h1>Todo List</h1>
      </div>
      <div class="flex w-50 mt-3">
        <%= form_tag('/todos/search', data: { turbo_frame: 'todos', controller: 'todos' }) do |f| %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search...', data: { action: 'input->todos#search' } %>
          </div>
        <% end %>
      </div>
      <div class="flex">
        <%= link_to new_todo_path, data: { turbo_stream: "modal" }, class: 'btn btn-sm btn-primary mt-3' do %>
          <i class="bi bi-plus-square"></i> New Todo
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <%= turbo_frame_tag :modal %>

      <table class="table table-hover">
        <thead id="sort_button">
          <%= render partial: 'table_header', locals: { direction: 'asc', selected: '', page: @pagy.page } %>
        </thead>
        <tbody id="todos">
          <%= render @todos %>
        </tbody>
      </table>
      <%#= pagy_bootstrap_nav(@pagy, data: { turbo_frame: 'todos' } ) %>
      <nav id="pagy" aria-label="Page navigation example">
        <%= render partial: 'pagy', locals: { pagy: @pagy } %>
      </nav>
    </div>
  </div>
</div>

