<%= turbo_stream.update :modal do %>
  <%= render(OffCanvasComponent.new(title: 'View Todo')) do %>
    <div class="modal-body">
      <table class="table">
        <tbody>
          <tr>
            <th>Title</th>
            <td><%= @todo.title %></td>
          </tr>
          <tr>
            <th>Description</th>
            <td><%= @todo.description %></td>
          </tr>
          <tr>
            <th>Completed</th>
            <td><%= render BadgeStatusComponent.new(todo: @todo) %></td>
          </tr>
          <tr>
            <th>Created at</th>
            <td><%= @todo.created_at %></td>
          </tr>
          <tr>
            <th>Updated at</th>
            <td><%= @todo.updated_at %></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="modal-footer d-flex justify-content-start">
    <%= button_tag class: 'btn btn-danger', data: { bs_dismiss: 'offcanvas' } do %>
      <i class="bi bi-x-square"></i> Close
    <% end %>
  </div>
  <% end %>
<% end %>
